@model IEnumerable<PROG3A_POE.Models.Product>

@{
    ViewData["Title"] = "ViewProducts";
    TempData.Keep("FarmerId");
    
}

<h1>Products for @ViewBag.Id</h1>

<p>
    <a asp-action="CreateProduct" asp-route-id="@ViewBag.Id">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new {id=item.ProductID  }) |
                    @Html.ActionLink("Details", "DetailsProduct", new { id=item.ProductID}) |
                    @Html.ActionLink("Delete", "DeleteProduct", new { id=item.ProductID })
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="AllFarmers">Back to List</a>